
html {
  scroll-behavior: smooth;
  --bg-color: #FFFBE2;
}

/* ---- utils start ---------*/
.nowrap1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nowrap2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nowrap3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 自定义滚动条 */
.list-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.list-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.list-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

.list-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}

.ly-list-scrollbar::-webkit-scrollbar {
  width: .1rem;
  height: .1rem;
}

.ly-list-scrollbar::-webkit-scrollbar-thumb {
  background: RGB(239,184,127);
  border-radius: 1.8rem;
}

.ly-list-scrollbar::-webkit-scrollbar-thumb:hover {
  background: RGB(239,184,127);
}

.ly-list-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.no-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
  border-radius: 0px;
}

.no-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0);
}

.no-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0px;
}


/*common*/
@font-face {
  font-family: 'SourceHanSansCN';
  src: url('../fonts/SourceHanSansCN-Regular.otf') format('opentype');
}

body {
  font-family: SourceHanSansCN, system-ui;
}


button[data-press], img[data-press] {
  transition: transform 0.1s;
}

button[data-press]:active, img[data-press]:active {
  transform: scale(0.95);

}
