
html {
  scroll-behavior: smooth;
  --bg-color: #FFFBE2;
}

/* ---- utils start ---------*/
.nowrap1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nowrap2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nowrap3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 自定义滚动条 */
.list-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.list-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.list-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

.list-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}

.ly-list-scrollbar::-webkit-scrollbar {
  width: .1rem;
  height: .1rem;
}

.ly-list-scrollbar::-webkit-scrollbar-thumb {
  background: RGB(239,184,127);
  border-radius: 1.8rem;
}

.ly-list-scrollbar::-webkit-scrollbar-thumb:hover {
  background: RGB(239,184,127);
}

.ly-list-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.no-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
  border-radius: 0px;
}

.no-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0);
}

.no-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0px;
}


.preview-list {
  overflow-x: auto;
  /*overflow-y: auto;*/
  white-space: nowrap;
  padding: .4rem 0 0;

  display: none
}

.preview-list .uploaded-image {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: .4rem;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  border-radius: .1rem
}

.preview-list video {
  background-color: rgba(0, 0, 0, .3)
}

.preview-list img,
.preview-list video {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: .08rem;
  object-fit: cover
}

.preview-list .preview-close {
  position: absolute;
  top: -.2rem;
  right: -.2rem;
  width: .45rem;
  height: .45rem;
  background-image: url(../images/preview_close.png?t=1761015570454);
  background-size: contain;
  background-repeat: no-repeat
}

.preview-list.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
