@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}
@layer base {
  body {
    background-color: var(--bg-color);
  }
}

@layer components {




  .image-placeholder {
    background: url('../images/ly/placeholder.png') no-repeat 8px 8px;
    background-size: 3rem auto;
    padding-left: 0;
  }


  .image-placeholder:not(:placeholder-shown) {
    background: none;
  }


}
